# Ekran goruntusu icin gecici fixture'lar - yayina cikmaz
doldur.html
koyu.html
store/feature.html
teklifler/
indtest.html
firmatest.html
kayittest.html
gtest.html
logo-tasarim.html
logo-maskable.html
